.main-home {
  .container {
    padding: 0 16px;
    margin: auto;
  }

  &__banner {
    width: 100%;
    @media (min-width: 968px) {
      padding-top: 0;
      height: 500px;
      overflow: hidden;
    }
    img {
      margin-top: 56px;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 40px;
    color: $c-white;
  }
}